node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
out/
.angular/
coverage/
.env
.env.local
.env.*.local
logs
*.log
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.swp
.DS_Store
Thumbs.db
admin-ui/node_modules/
admin-ui/dist/
admin-ui/.angular/
admin-be/node_modules/
admin-be/dist/