<div class="bg-white shadow rounded-lg overflow-hidden mt-8 w-full overflow-x-auto">

  <table class="min-w-full text-sm text-left">

    <thead class="bg-gray-100">
      <tr>
        <th *ngFor="let col of columns" (click)="sortData(col)" class="cursor-pointer">

          {{ col }}

          <span *ngIf="sortColumn === col">
            {{ sortDirection === 'asc' ? '▲' : '▼' }}
          </span>
        </th>

        <th *ngIf="showActions" class="px-6 py-3">
          Actions
        </th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let row of paginatedData; let i = index" class="border-t">

        <td *ngFor="let col of columns" class="px-6 py-4">
          {{ row[col.toLowerCase()] }}
        </td>

        <td *ngIf="showActions" class="px-6 py-4 space-x-2">

          <button (click)="edit.emit({row, index:i})" class="text-blue-600">
            Edit
          </button>

          <button (click)="delete.emit(row)" class="text-red-600 hover:underline">
            Delete
          </button>

        </td>

      </tr>

    </tbody>

  </table>
  <div class="flex justify-between items-center mt-4 m-1">

    <button (click)="prevPage()" [disabled]="currentPage === 1" class="px-3 py-1 border rounded">
      Previous
    </button>

    <span>
      Page {{ currentPage }} of {{ totalPages }}
    </span>

    <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="px-3 py-1 border rounded">
      Next
    </button>

  </div>

</div>